.header {
  margin-top: 45px;
  border-bottom: solid rgb(62, 59, 59);
}
.header__logo {
  max-height: 74px;
  max-width: 880px;

  border: 1px;
}
.header__line {
  max-width: 880px;
  min-height: 0;
}
