.header {
  max-width: 880px;

  max-height: 74px;
  margin-top: 45px;
  margin-bottom: 40px;

  border-bottom: 1px solid #545454;
  justify-content: center;
}

@media screen and (max-width: 320px) {
  .header {
    margin-left: 0;
    margin-right: 0;
    max-height: 56px;
    margin-top: 28px;
  }
  .header__logo {
    padding: 0;
    margin-left: 27px;
    margin-bottom: 32px;
  }
}
