.image__modal {
  position: fixed;

  display: flex;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.image__modal-image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
}

.image__modal_close-icon {
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
  background-image: url(../images/Close-Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}
.image__modal-title {
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}
