.page {
  background-color: black;
  color: #ffff;
  max-width: 1280px;
}
.page__content {
  padding-right: 19px;
  padding-left: 19px;
  display: flex;
  flex-direction: column;
}
.page__section {
  max-width: 882px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
@media screen and (max-width: 320px) {
  .page__content {
    max-width: 320px;
    max-height: 2812px;
  }
}
