.page {
  background-color: black;
  color: white;
}
.page__section {
  justify-content: center;
  margin: 0 auto;
  max-width: 882px;
  box-sizing: border-box;
}
.page__content {
  margin: 0 auto;
}
