.profile {
  display: flex;
  align-items: center;

  margin-top: 40px;

  box-sizing: border-box;
  margin-bottom: 51px;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  margin-left: 24px;

  font-family: "Inter", Arial, Sans-serif;
  align-items: baseline;
  grid-gap: 7px 17px;
  max-width: 415px;
  min-height: 77px;
}
.profile__title {
  grid-area: title;
  font-family: Inter, Arial, Sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #ffff;
  padding-left: 0;
}
.profile__edit-button {
  background: transparent url(../images/edit-sign.png) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
  padding: 0;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/plus-sign.png) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-radius: 2px;
  border: #ffff 2px solid;
  padding: 14px 64px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}
.profile__description {
  font-family: "Inter", Arial, Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  grid-area: description;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  color: #ffffff;

  max-width: 415px;
}
.profile__image-frame {
}
.profile__image {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 22.5px;
  width: 120px;
  height: 120px;

  background-position: center;
}

@media screen and (max-width: 619px) {
  .profile {
    flex-direction: column;
    max-height: 100%;
    padding-bottom: 36px;
    padding-top: 42px;
  }
  .profile__title {
    line-height: 26.63px;
    font-size: 22px;
    margin: 26.25px auto 0;
    text-align: center;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .profile__image {
    width: 120px;
    height: 120px;
    margin: 0px 80px 30px 82px;
  }
  .profile__description {
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    line-height: 16.94px;
  }
  .profile__add-button {
    display: block;
    max-width: 100%;
    margin: 36px auto 0 auto;
  }
  .profile__edit-button {
    border: 1px #fff solid;
    width: 18px;
    height: 18px;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: auto;
  }
}
