.profile {
  display: flex;
  align-items: center;

  margin-top: 40px;

  width: 100%;

  box-sizing: border-box;
  margin-bottom: 51px;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  margin-left: 24px;

  font-family: "Inter", Arial, Sans-serif;
  align-items: baseline;
  grid-gap: 7px 17px;
  width: 100%;
}
.profile__title {
  grid-area: title;
  font-family: Inter, Arial, Sans-serif;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #ffff;
}
.profile__edit-button {
  background: transparent url(../images/edit-sign.png) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border: 1px solid #ffffff;

  padding: 0;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/plus-sign.png) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-radius: 2px;
  border: #ffff 2px solid;
  padding: 14px 64px;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}
.profile__description {
  font-family: "Inter", Arial, Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  grid-area: description;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  color: #ffffff;

  max-width: 415px;
}
.profile__image-frame {
}
.profile__image {
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 22.5px;
  width: 120px;
  height: 120px;

  margin-right: 24px;
  background-position: center;
}

@media screen and (max-width: 619px) {
  .profile {
    padding-top: 0 19px 0 19px;
    flex-direction: column;
  }

  .profile__title {
    line-height: 26.63px;
    padding-top: 30px;
    max-width: 196px;
    margin-left: 62px;
    font-size: 22px;
  }

  .profile__add-button {
    margin-left: 19px;
    margin-right: 19px;
    gap: 0px;
    border-radius: 2px;
    width: 100%;
    max-width: 282px;
    max-height: 50px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    padding-bottom: 0;
  }

  .profile__description {
    margin-bottom: 14px;
    margin-left: 43px;
    margin-right: 15.25px;
    line-height: 16.94px;
    width: 196px;
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    width: 282px;
    height: 14px;
  }
  .profile__image-frame {
    width: 168.75px;
    height: 127.5px;
  }

  .profile__image {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 22.5px;
    width: 120px;
    height: 120px;
    margin-right: auto;
    margin-left: auto;
    display: block;

    margin-top: 42px 99px 30px 101px;
    background-position: center;
  }
  .profile__description {
    height: 14px;
    width: 282px;
  }
}
.profile__edit-button {
  margin-right: 34px;
}
