.profile {
  display: flex;
  align-items: center;

  padding-top: 40px;
  margin: 0 auto;

  max-width: 882px;
  box-sizing: border-box;
  padding-bottom: 51px;
}
.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: auto 25px;

  font-family: "Inter", Arial, Sans-serif;
  align-items: baseline;
  grid-gap: 7px 17px;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  font-family: "Inter", Arial, Sans-erif;

  padding: 0;

  grid-area: title;
  margin: 0;
}

.profile__edit-button {
  background: transparent url(../images/edit-sign.png) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
  margin: 15px 0 0 18px;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/plus-sign.png) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-radius: 2px;
  border: #ffff 2px solid;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}
.profile__description {
  font-family: "Inter", Arial, Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 16.94px;
  grid-area: description;
  margin: 0;
  padding: 0;
  margin-top: 7px;
  color: #ffffff;

  max-width: 415px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 36.25px;
  margin-right: 20px;
  background-position: center;
}

@media screen and (max-width: 775px) {
  .profile {
    flex-direction: column;
    align-content: center;
    padding-top: 20px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 320px;
    margin-left: 0;
    padding-top: 30px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .profile__title {
    font-size: 22px;
    line-height: 26.63px;
    min-width: 201px;
    max-width: 222px;
  }

  .profile__description {
    max-width: 100%;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 0;
    font-size: 14px;
  }

  .profile__add-button {
    margin: 0;
    margin-top: 36px;
    padding: 0;
    width: 282px;
  }

  .profile__edit-button {
    padding: 0;
    width: 18px;
    height: 18px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .profile {
    padding-top: 42px;
  }

  .profile__title {
    line-height: 26.63px;
    padding-top: 30px;
    width: 196px;
    font-size: 22px;
  }

  .profile__add-button {
    margin-left: 19px;
    margin-right: 19px;
    gap: 0px;
    border-radius: 2px;
  }

  .profile__info {
    padding-top: 0;
  }

  .profile__description {
    margin-bottom: 0px;
    line-height: 16.94px;
  }
}
