.page {
  background-color: black;
  color: #ffff;
  max-height: 1217px;
  max-width: 1280px;
}
.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
}
.page__content {
  padding-right: 200px;
  padding-left: 200px;
  background-color: black;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
